/* Dashkit | 2020-2021 | CSS Ninja */

/*
    1. Card
    2. Box
    3. Flex Card
*/

/* ==========================================================================
1. Card
========================================================================== */

.card {
    box-shadow: $light-box-shadow;
    border: 1px solid $border;

    .card-footer {
        .card-footer-item {
            color: $medium-text;
            transition: all .3s;

            &:hover {
                color: $primary;
                background: $widget-grey;
            }
        }
    }
}

/* ==========================================================================
2. Box
========================================================================== */

.box {
    box-shadow: $light-box-shadow;
    border: 1px solid $border;
}

/* ==========================================================================
3. Flex Card
========================================================================== */

.flex-card {
    position: relative;
    background-color: $white;
    border: 1px solid $border;
    border-radius: .5rem;
    position: relative;
    width: 100%;
    transition: all 0.5s;

    &:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    .card-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        
        &.is-bordered {
            border-bottom: 1px solid $border;
        }

        &.is-spaced {
            margin-bottom: 1rem;
        }

        h3 {
            font-family: $font-alt;
            font-size: 1.1rem;
            font-weight: 600;
            color: $blue-grey;
        }
    }
}