/*
  1. Feed Channels Widget
  2. Placeholder Card
  3. Compose Card
  4. Feed Post
  5. Social Fab
  6. Audio Player
  7. Feed Post
  8. Feed Comments
*/

/* ==========================================================================
1. Feed Channels Widget
========================================================================== */

.feed-channels {
  @extend .flex-card;

  padding: 1.75rem;
  margin-bottom: 1.5rem;

  .card-heading {
    padding: 0.5rem 0 !important;
    margin-bottom: 1rem;
    font-family: var(--font-alt);
    font-weight: 600;
    color: var(--title-color);
  }

  .menu-item {
    align-items: center;
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    border-radius: 4px;

    &:not(.is-active):hover {
      .meta {
        span {
          &:first-child {
            color: var(--secondary);
          }
        }
      }
    }

    &.is-active {
      background: var(--secondary);
      box-shadow: var(--secondary-box-shadow);

      i {
        color: var(--white);
      }

      .meta {
        span {
          color: var(--white) !important;
        }
      }
    }

    i {
      font-size: 1.6rem;
      color: var(--light-text);
    }

    .meta {
      margin-left: 12px;

      span {
        display: block;
        line-height: 1.2;

        &:first-child {
          font-family: "Montserrat", sans-serif;
          font-size: 0.95rem;
          color: var(--title-color);
          font-weight: 600;
        }

        &:nth-child(2) {
          font-size: 0.9rem;
          color: var(--light-text);
        }
      }
    }
  }
}

/* ==========================================================================
2. Placeholder Card
========================================================================== */

.placeholder-card {
  @extend .flex-card;

  padding: 30px;
  margin-bottom: 1.5rem;

  img {
    display: block;
    max-width: 240px;
    margin: 0 auto 16px auto;
  }

  h3 {
    font-family: var(--font-alt);
    font-weight: 600;
    color: var(--title-color);
  }

  p {
    font-family: var(--font);
    color: var(--light-text);
    font-size: 0.95rem;

    a {
      font-weight: 500;
    }
  }
}

/* ==========================================================================
3. Compose Card
========================================================================== */

.compose-card {
  @extend .flex-card;

  align-items: flex-start !important;
  padding: 12px;

  .image {
    display: inherit;
    align-items: stretch;
    margin-right: 10px;

    img {
      height: 42px;
      width: 42px;
      min-width: 42px;
    }
  }

  .status-wrapper {
    width: 100%;
  }

  .icon-button {
    min-width: 40px;
    min-height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--button-base-bg-color);
    border: 1px solid var(--button-base-border-color);
    border-radius: 50%;
    color: var(--button-base-color);
    margin-left: 10px;
    cursor: pointer;
    box-shadow: var(--light-box-shadow);

    svg {
      height: 18px;
      width: 18px;
      stroke-width: 1.6px;
      transition: stroke 0.3s;
    }

    &:hover {
      color: var(--light-text);

      svg {
        stroke: var(--title-color);
      }
    }
  }

  textarea {
    box-shadow: none !important;

    &:hover {
      border-color: var(--input-base-border-color-hover);
    }

    &::-webkit-input-placeholder {
      color: var(--input-placeholder-color);
    }

    &::-moz-placeholder {
      color: var(--input-placeholder-color);
    }

    &:-ms-input-placeholder {
      color: var(--input-placeholder-color);
    }

    &:-moz-placeholder {
      color: var(--input-placeholder-color);
    }
  }
}

/* ==========================================================================
4. Feed Post
========================================================================== */

.post-item {
  @extend .flex-card;

  position: relative;
  width: 100%;
  margin: 1rem 0;
  background: var(--card-bg-color);
  overflow: visible;
  box-shadow: var(--light-box-shadow);
  z-index: 1;

  .post-header {
    .is-flex {
      margin-bottom: 0.5rem;

      .feed-avatar {
        height: 36px;
        width: 36px;
        border-radius: 50%;
      }

      .item-title {
        font-weight: 500;
        font-family: var(--font);
        color: var(--medium-text);
        margin-left: 15px;

        a {
          color: var(--secondary);
        }

        .feed-time-small {
          font-size: 0.9rem;
          font-family: var(--font);
          color: var(--light-text);
          font-weight: 400;
        }
      }

      .dropdown {
        margin-left: auto;
        z-index: 1000;
      }
    }

    .post-title {
      font-size: 1.1rem;
      font-family: var(--font-alt);
      font-weight: 600;

      a {
        color: var(--title-color);

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .post-text {
      font-family: var(--font);
      font-size: 0.95rem;
      color: var(--light-text);
    }
  }

  .feed-image-container {
    position: relative;

    img {
      float: left !important;
      max-width: 100%;
    }

    .soft-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--dark);
      opacity: 20%;
    }
  }

  .feed-item-footer {
    .counter-block {
      margin-right: 12px;
      margin-left: 12px;
      font-size: 20px;

      span {
        color: var(--light-text);
      }
    }

    .im-footer {
      position: relative;
      top: 5px;
      font-weight: 400;
    }

    .rating-counter {
      color: var(--title-color);
      padding-left: 5px;
      display: inline-block;
      font-size: 15px;

      &.small {
        font-family: var(--font);
        font-size: 1rem;
        font-weight: 600;
      }
    }
  }

  .fab-container {
    position: relative;
    min-height: 10px;
    width: 100%;
  }
}

/* ==========================================================================
5. Social Fab
========================================================================== */

.social-fab {
  position: absolute;
  width: 56px;
  height: 56px;
  padding: 0px;
  bottom: -28px;
  right: 25px;
  z-index: 100;

  .like,
  .share,
  .comment {
    position: absolute;
    top: 4px;
    left: 4px;
    opacity: 0;
    color: var(--white);
  }

  .fab-wrapper {
    width: 56px;
    height: 56px;
    position: absolute;
    bottom: 0px;
    right: 0px;

    .pop-fab {
      position: absolute;
      bottom: 0px;
      right: 0px;
      background: var(--secondary);
      box-shadow: var(--secondary-box-shadow);

      .plus-toggle {
        height: 100%;
        width: 100%;
        background: tranparent;
        position: relative;
        display: block;

        transition: all 0.3s ease;

        i {
          color: var(--white);
        }

        &.is-active {
          transform: rotate(135deg);
        }
      }
    }
  }
}

.comment,
.share {
  background: var(--secondary) !important;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    font-size: 20px;
  }
}

.like-wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  .like-overlay {
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    top: -10px;
    left: -22px;
    background: var(--danger);
    transform: scale(0);
    transition: transform 0.4s;
    z-index: 0;
  }
}

.like {
  background: var(--button-base-bg-color) !important;

  i.unliked {
    display: block;
    color: var(--button-base-color);
    position: relative;
    z-index: 1;
  }

  i.liked {
    display: none;
    color: var(--white);
    position: relative;
    z-index: 1;
  }

  &.is-active {
    .like-overlay {
      transform: scale(1);
    }

    i.unliked {
      display: none;
    }

    i.liked {
      display: block;
    }
  }
}

.social-fab.is-open {
  width: 150px;
  height: 150px;

  .fab-btn.mini {
    transform: rotate(0);
  }
}

.social-fab.is-open .like {
  left: -94px;
  top: 4px;
  opacity: 1;
}

.social-fab.is-open .share {
  left: -65.296px;
  top: -65.296px;
  opacity: 1;
}

.social-fab.is-open .comment {
  left: 4px;
  top: -94px;
  opacity: 1;
}

/* ==========================================================================
6. Audio Player
========================================================================== */

.audio.green-audio-player {
  @extend .flex-card;

  position: relative;
  width: 100%;
  min-width: 300px;
  height: 56px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  padding-right: 24px;
  border-radius: 4px;
  -webkit-user-select: none;
  user-select: none;
  background-color: var(--card-bg-color);
  border: 1px solid var(--card-border-color);
  z-index: 0;

  .avatar {
    margin-right: 10px;

    img {
      width: 36px;
      height: 36px;
      border-radius: 50%;
    }
  }

  .play-pause-btn {
    display: none;
    cursor: pointer;
  }

  .spinner {
    width: 18px;
    height: 18px;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/355309/loading.png);
    background-size: cover;
    background-repeat: no-repeat;
    animation: spin 0.4s linear infinite;
  }

  .slider {
    flex-grow: 1;
    background-color: var(--wrap-muted-color);
    cursor: pointer;
    position: relative;

    .progress {
      background-color: var(--secondary);
      border-radius: inherit;
      position: absolute;
      pointer-events: none;

      .pin {
        height: 16px;
        width: 16px;
        border-radius: 8px;
        background-color: var(--secondary);
        position: absolute;
        pointer-events: all;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.32);
      }
    }
  }

  .controls {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: var(--light-text);
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;

    .slider {
      margin-left: 16px;
      margin-right: 16px;
      border-radius: 2px;
      height: 4px;

      .progress {
        width: 0;
        height: 100%;

        .pin {
          right: -8px;
          top: -6px;
        }
      }
    }

    span {
      cursor: default;
    }
  }

  .volume {
    position: relative;

    .volume-btn {
      cursor: pointer;

      &.open path {
        fill: var(--secondary);
      }
    }

    .volume-controls {
      width: 30px;
      height: 135px;
      background-color: rgba(0, 0, 0, 0.62);
      border-radius: 7px;
      position: absolute;
      left: -3px;
      bottom: 52px;
      flex-direction: column;
      align-items: center;
      display: flex;

      &.hidden {
        display: none;
      }

      .slider {
        margin-top: 12px;
        margin-bottom: 12px;
        width: 6px;
        border-radius: 3px;

        .progress {
          bottom: 0;
          height: 100%;
          width: 6px;

          .pin {
            left: -5px;
            top: -8px;
          }
        }
      }
    }
  }

  svg,
  img {
    display: block;
  }
}

@keyframes spin {
  from {
    transform: rotateZ(0);
  }

  to {
    transform: rotateZ(1turn);
  }
}

.load-more-wrapper {
  padding: 20px 0;

  .button {
    height: 40px;
    max-width: 150px;
    margin: 0 auto;
  }
}

/* ==========================================================================
7. Feed Post
========================================================================== */

.feed-post-columns {
  padding: 20px 0;
}

.featured-feed-post {
  overflow: visible;

  .image {
    border-radius: 8px;
    transform: scale(0.9);
  }

  img {
    display: block;
    height: auto;
    width: 100%;
    border-radius: 8px;
    margin-top: -40px;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
      0 17px 17px 0 rgba(0, 0, 0, 0.15);
  }

  .image-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--secondary);
    opacity: 90%;
    border-radius: 8px;
  }

  .author-avatar {
    width: 100%;
    height: 110px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    img {
      height: 100%;
      width: 110px;
      border-radius: 50%;
      position: relative;
      margin: 0 auto;
      bottom: -35px;
    }
  }

  .responsive-title {
    font-family: var(--font-alt);
    font-weight: 700;
    color: var(--title-color);
    font-size: 1.4rem;
    padding: 0 16px;
    max-width: 480px;
    line-height: 1.4;
    margin-top: 16px;
  }

  .fab-btn.like {
    transform: rotate(0deg);
    position: absolute;
    right: 8%;
    bottom: -18px;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
      0 17px 17px 0 rgba(0, 0, 0, 0.15);
  }

  .fab-btn.back {
    transform: rotate(0deg);
    position: absolute;
    left: 8%;
    bottom: -18px;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
      0 17px 17px 0 rgba(0, 0, 0, 0.15);
    transition: all 0.3;

    i {
      transform: rotate(0deg);
      transition: inherit;
    }

    &:hover {
      background: var(--accent);

      i {
        transform: rotate(360deg);
      }
    }
  }

  .post-meta {
    padding-left: 15px;
    padding-top: 10px;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .author-meta .author-name {
    font-family: var(--font);
    color: var(--light-text);

    span {
      font-weight: 500;
      color: var(--secondary);
    }
  }

  .author-meta .post-timestamp {
    font-family: var(--font);
    font-size: 0.9rem;
    color: var(--light-text);
    padding-top: 5px;
  }

  .comments-meta {
    width: 40px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-right: 15px;

    svg {
      height: 20px;
      width: 20px;
      stroke-width: 1.6px;
      stroke: var(--light-text);
    }

    .counter {
      font-size: 1.2rem;
      line-height: 1;
      font-weight: 500;
      color: var(--title-color);
    }
  }

  .post-body {
    padding: 30px 10px;
    font-family: var(--font);
    font-size: 1.1rem;
    color: var(--medium-text);

    p {
      margin-bottom: 1rem;
    }
  }

  .post-share {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    i {
      font-size: 20px;
      padding: 0 7px;
      color: var(--placeholder);
      cursor: pointer;

      &:hover {
        color: var(--secondary);
      }
    }
  }

  a {
    font-weight: 500;
  }
}

/* ==========================================================================
8. Feed Comments
========================================================================== */

.comments-wrapper {
  padding-top: 20px;

  .wrapper-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: var(--title-color);
    font-size: 1rem;
    padding-bottom: 1rem;
  }

  .compose-card {
    @extend .flex-card;

    padding: 30px;

    .textarea-button {
      background: var(--light-text);
    }
  }

  .comment-list {
    padding-top: 20px;

    .media {
      border-top: none;

      &.is-answer {
        width: 85%;
        margin-left: auto;

        .media-left img {
          width: 38px;
        }
      }

      .media-left {
        img {
          width: 45px;
          border-radius: 50%;
          box-shadow: var(--light-box-shadow);
        }
      }

      .media-body {
        width: 100%;
        padding: 24px;
        border: 1px solid var(--card-border-color);
        border-radius: 0 16px 16px 16px;
        background: var(--card-bg-color);

        .media-heading {
          a {
            font-family: var(--font);
            font-weight: 500;
            color: var(--title-color);
          }

          .timestamp {
            color: var(--light-text);
            font-family: var(--font);
            font-size: 12px;
            line-height: 1.6666667;
            font-weight: 400;
            margin-left: 8px;

            &:before {
              content: "\2022";
              margin-right: 11px;
            }
          }
        }

        p {
          font-family: var(--font);
          font-size: 0.95rem;
          color: var(--medium-text);
          margin-bottom: 0.75rem;
        }

        .comment-controls {
          margin: 0 !important;

          li {
            padding-right: 20px;
            position: relative;
            padding-left: 0;
            font-family: var(--font);
            font-size: 13px;
            display: inline-block;
            color: var(--light-text);

            &:before {
              content: "\2022";
              position: absolute;
              right: 8px;
              color: #ccc;
              top: 1px;
            }

            a {
              color: var(--light-text);
            }

            a i {
              font-size: 14px;
              color: var(--light-text);
              position: relative;
              top: 2px;
            }
          }
        }
      }
    }
  }
}
