<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>Dashkit :: {{title}}</title>
    <link rel="icon" type="image/png" href="/img/favicon.png" />

    <link rel="icon" type="image/png" href="img/favicon.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{{root}}/css/app.css" />
    <link rel="stylesheet" type="text/css" href="{{root}}/css/main.css" />
  </head>

  <body
    x-data="initTheme()"
    :class="{
        'is-dark': $store.app.isDark,
        '': !$store.app.isDark
    }"
  >
    {{> body}}

    <script src="./js/app.js"></script>
    <script src="./js/bundle.js"></script>
  </body>
</html>
